nav.navbar.navbar-static-top.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(ng-href="#")
        span.glyphicon.glyphicon-home
        | &nbsp; Aptly

    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(ng-href="/main/") Home
        li
          a(ng-href="/repos/") Repositories
        li
          a(ng-href="/packages/") Uploads

      ul.nav.navbar-nav.navbar-right.acme-navbar-text
        li Application was created {{ vm.relativeDate }}.
